{% extends 'base.html.twig' %}

{% block title %}Les posts{% endblock %}

{% block body %}

    <h1 class="post__title">Nos posts</h1>
    {% for post in posts  %}
        <div class="post">
            <div class="post__infos">
                <h1 class="post__title"><a href="{{ path('showPost', {'id': post.id }) }}">{{ post.title }}</a></h1>
                <p>{{ post.content }}</p>

                <span>{{ post.author }}</span>
            </div>
            <div class="post__actions">
                <a href="{{ path('editPost', {'id': post.id}) }}">Edit</a>
                <a href="{{ path('deletePost', {'id': post.id}) }}">Dilite</a>
            </div>
        </div>
    {% endfor %}


{% endblock %}